*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: #000000;
}

input,
textarea,
img 
{
  width: 100%;
}

.container 
{
    margin: auto;
    padding: 0 15px;
    width: 1052px;
    height: 100%;
}
